kloak
eventcap
cmake-build-debug/
.idea/
*.o
*~
*.a
*.bin
*.so
*~
\#*#
.DS_Store
.project
.cproject
.idea/
*.log
debian/debhelper-build-stamp
debian/files
debian/kloak.*.debhelper
debian/kloak.substvars
debian/tmp-man/
